body {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

a {
	text-decoration: none;
	display: inline-block;
	transition:
		transform 0.2s ease,
		color 0.2s ease,
		opacity 0.2s ease;
}

a:hover {
	color: #00adb5; /* Можно добавить акцентный цвет */
	transform: translateY(-3px); /* Ссылка «подпрыгивает» вверх */
	opacity: 0.8;
}

ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 16px;
}

.first-container,
.second-container,
.third-container,
.fourth-comtainer {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px 200px 80px;
}





/* Style for the 1st container */
.first-container {
	background-color: #1f2937;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	padding: 10px 0;
}

.header-logo {
	font-size: 24px;
	color: #f9faf8;
	margin: 0;
	padding: 0;
}

.first-wrap {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.hero-container {
	padding: 5px 0 0;
}

.hero-main-text {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
	margin: 0;
	padding: 0;
}

.hero-secondary-text {
	margin: 5px 0px 30px;
	padding: 0;
}

.hero-secondary-text,
a {
	font-size: 18px;
	color: #cdcfd2;
}

#sign-up-button-one {
	background-color: #3882f6;
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	font-weight: 700;
	font-size: 18px;
	color: #eff2f4;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 0 4px 0px #1e4eb8;
}

#sign-up-button-one:hover {
	background-color: #3273da;
	transform: translateY(-2px);
	box-shadow: 0 6px 0px #1e4eb8;
}

#sign-up-button-one:active {
	transform: translateY(2px);
	box-shadow: 0 2px 0px #1e4eb8;
}

#first-img {
	height: 300px;
	width: auto;
}




/* Style for second section */
.second-container {
	background-color: white;
}

.second-container h1 {
	text-align: center;
}

.information-section {
	display: flex;
	gap: 36px;
	justify-content: center;
}

.info-card {
	display: flex;
	flex-flow: column wrap;
	width: 200px;
	text-align: center;
}

.info-card img {
	width: 200px;
	height: 200px;
	border-radius: 20px;
	margin-bottom: 16px;
	border: #3882f6 solid 5px;
}




/* Style for 3rd section */
.third-container {
    background-color: #e5e7eb;
    padding: 80px 360px 80px;;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    margin: 0;
}

.quote-author {
    font-size: 25px;
    margin: 0 1.5em 0 auto;
}

/* Style for 4th container */
.fourth-comtainer {
    background-color: #fff;
	padding: 100px 200px 100px;
}

.banner {
    background-color: #1a85dd;
    border-radius: 10px;
    padding: 50px 150px;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.big-text {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
}

.small-text {
    font-size: 18px;
	font-weight: 300;
    margin: 0;
    padding: 0;
	color: #fff;
}

.sign-up-new {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	background-color: #1a85dd;
	border-radius: 8px;
	border: #fff solid 3px;
	padding: 4px 26px;
}