body {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

a {
	text-decoration: none;
	display: inline-block;
	transition:
		transform 0.2s ease,
		color 0.2s ease,
		opacity 0.2s ease;
}

a:hover {
	color: #00adb5; /* Можно добавить акцентный цвет */
	transform: translateY(-3px); /* Ссылка «подпрыгивает» вверх */
	opacity: 0.8;
}

ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 16px;
}

/* Style for the 1st container */
.first-container,
.second-container {
	/* width: 100%; */
	display: flex;
	flex-flow: column nowrap;
	padding: 10px 200px 80px;
}

.first-container {
	background-color: #1f2937;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.header-logo {
	font-size: 24px;
	color: #f9faf8;
	margin: 0;
	padding: 0;
}

.first-wrap {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.hero-container {
	padding: 5px 0 0;
}

.hero-main-text {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
	margin: 0;
	padding: 0;
}

.hero-secondary-text {
	margin: 5px 0px 30px;
	padding: 0;
}

.hero-secondary-text,
a {
	font-size: 18px;
	color: #cdcfd2;
}

#sign-up-button-one {
	background-color: #3882f6;
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	font-weight: 700;
	font-size: 18px;
	color: #eff2f4;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 0 4px 0px #1e4eb8;
}

#sign-up-button-one:hover {
	background-color: #3273da;
	transform: translateY(-2px);
	box-shadow: 0 6px 0px #1e4eb8;
}

#sign-up-button-one:active {
	transform: translateY(2px);
	box-shadow: 0 2px 0px #1e4eb8;
}

#first-img {
	height: 300px;
	width: auto;
}

/* Style for second section */
.second-container {
	background-color: white;
}

.second-container h1 {
    text-align: center;
}

.information-section {
    display: flex;
    gap: 26px;
    justify-content: center;
}

.info-card {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    text-align: center;
}

.info-card img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 16px;
    border: #3882f6 solid 5px;
}